.env
.venv
__pycache__

# Ignore data files
/data
/dataSources/
/dataSources.local.xml

.idea/
*.py[cod]
*$py.class
.DS_Store

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/