ipykernel
notebook
pandas
numpy
plotly
matplotlib
seaborn
requests
huggingface_hub
cmdstanpy==1.2.4
prophet==1.3.0
scikit-learn
xgboost
pyarrow
openmeteo-requests
requests-cache
retry-requests
NBEATS
keras
torch
tensorflow-cpu
